/* 
Matches 

li:matches(:nth-child(even), .target) {
  background-color: tomato;
} 
*/

/* 
Not

li:not(.target) {
  background-color: tomato;
} 
*/
/* 
:root {
  --awesomeColor: tomato;
  --awesomeBorder: 2px solid tomato;
}

li:first-child a {
  color: var(--awesomeColor);
  border: var(--awesomeBorder);
}

@custom-selector :--headers h1, h2, .header-target, h4, h5;

:--headers {
  color: blue;
} */

@custom-media --ipad-size (max-width: 850px);

@media (--ipad-size) {
  body {
    background-color: red;
  }
}
